.modal {
    left: 43%;
    width: 800px;

    .alert-wrapper {
        width: 100%;

        #modalAlert {
            width: 94%;
            margin: 2px 3% 0;
        }
    }

    .modal-body {
        min-height: 260px;
        max-height: 500px;

        .popover-content {
            overflow: hidden;
        }

        .new-player {
            margin-left: 5px;
        }

        .popover {
            width: 276px;
            z-index: 1000;

            .btn {
                margin: 8px 0 4px 0;
            }
        }
    }
}
