<div class="row-fluid">
  <form class="span12">
    <div class="control-group">
      <div class="control-label">What do you want to call it?</div>
      <div class="controls">
        <input  name="name"
                type="text"
                class="input-xlarge"
                placeholder="League name..."
                required />
      </div>
    </div>
    <div class="control-group">
      <div class="control-label">What should people know about it?</div>
      <div class="controls">
        <textarea name="description"
                  rows="3"
                  class="input-block-level"
                  placeholder="League description..." />
      </div>
    </div>
  </form>
</div>