/* Not really too concerned with how to organize CSS 
   the opinions are too diverse                      */
/* Custom themes */
/* line 3, ../sass/_layout.scss */
.page-wrapper {
  margin: 80px 0;
  width: 100%;
  height: auto !important;
}

/* line 9, ../sass/_layout.scss */
.pointer {
  cursor: pointer;
  cursor: hand;
}

/* line 2, ../sass/home/_page.scss */
.home-page .carousel-wrapper {
  border: 1px solid #888888;
  -moz-box-shadow: 10px 10px 5px #888888;
  -webkit-box-shadow: 10px 10px 5px #888888;
  box-shadow: 10px 10px 5px #888888;
}
/* line 10, ../sass/home/_page.scss */
.home-page .carousel-wrapper,
.home-page #myCarousel .carousel-inner .item img {
  width: 100%;
  max-width: 940px;
  max-height: 627px;
}
/* line 16, ../sass/home/_page.scss */
.home-page .carousel-caption {
  background: rgba(0, 0, 0, 0.85);
}
/* line 19, ../sass/home/_page.scss */
.home-page .carousel-caption .lead {
  margin-bottom: 4px;
}
/* line 24, ../sass/home/_page.scss */
.home-page .carousel-indicators {
  background: rgba(0, 0, 0, 0.65);
  padding: 4px 6px 4px 2px;
}

/* line 2, ../sass/game/pairchooser/_pairchooser.scss */
.pair-chooser .pair-ct {
  min-height: 200px;
  min-width: 255px;
}

/* line 1, ../sass/game/pairchooser/_playercard.scss */
.player-card {
  border: 1px solid #888888;
  -moz-box-shadow: 10px 10px 5px #888888;
  -webkit-box-shadow: 10px 10px 5px #888888;
  box-shadow: 10px 10px 5px #888888;
  background: #fff;
  padding: 2px 8px;
  margin: 12px 0px;
  overflow: hidden;
}
/* line 14, ../sass/game/pairchooser/_playercard.scss */
.player-card .player-name {
  font-size: 12px;
}

/* line 2, ../sass/modal/_layout.scss */
.modal .modal-body {
  min-height: 230px;
}
/* line 5, ../sass/modal/_layout.scss */
.modal .modal-body .players-typeahead {
  padding-right: 22px;
  width: 330px;
}
/* line 10, ../sass/modal/_layout.scss */
.modal .modal-body .icon-plus {
  margin: -3px 0 0 -20px;
}
/* line 14, ../sass/modal/_layout.scss */
.modal .modal-body .popover {
  width: 276px;
  z-index: 1000;
}
/* line 18, ../sass/modal/_layout.scss */
.modal .modal-body .popover .btn {
  margin: 8px 0 4px 0;
}
/* line 23, ../sass/modal/_layout.scss */
.modal .modal-body .alert-wrapper {
  width: 100%;
}
/* line 26, ../sass/modal/_layout.scss */
.modal .modal-body .alert-wrapper #modalAlert {
  width: 94%;
  margin: 2px 3% 0;
}
