/* Not really too concerned with how to organize CSS 
   the opinions are too diverse                      */
/* Custom themes */
/* line 1, ../sass/_layout.scss */
.page {
  margin: 70px 0 10px 0;
}

/* Make sure these are even numbers for best results */
/* line 6, ../sass/_stickyfooter.scss */
html,
body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
/* line 11, ../sass/_stickyfooter.scss */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
}

/* line 19, ../sass/_stickyfooter.scss */
#push,
#footer {
  height: 40px;
  font-size: 12px;
  line-height: 12px;
}

/* line 25, ../sass/_stickyfooter.scss */
#footer {
  background-color: #f5f5f5;
}
/* line 28, ../sass/_stickyfooter.scss */
#footer .container .credit {
  margin: 0;
  margin-top: 14px;
}

@media (max-width: 767px) {
  /* line 35, ../sass/_stickyfooter.scss */
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
