.player-card {
    border: 1px solid #888;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;

    background: #fff;
    margin: 12px 0px;
    overflow: hidden;

    .gravatar {
        margin-right: 10px;
    }

    .center-content {
        width: 65%;

        .name h4 {
            margin: 4px 0 2px 0;
        }
    }

    .actions {
        margin-right: 10px;

        .remove, .move {
            cursor: pointer;
        }

        .move {
            margin-top: 36px;
        }
    }
}

.player-card.slim {
    .center-content {
        width: 85%;
    }
}