<div>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"></button> <a class="brand" href="#">Foos Net</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="home">
              <a href="#">Home</a>
            </li>
            <li class="leaderboard">
              <a href="#leaderboard">Leader Board</a>
            </li>
            <!-- <li class="stats">
              <a href="#stats">Stats</a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>