.modal {
    .modal-body {
        min-height: 260px;
        max-height: 500px;

        .popover-content {
            overflow: hidden;
        }

        .players-typeahead {
            padding-right: 22px;
            width: 305px;
        }

        .new-player {
            margin: -11px 0 0 2px;
        }

        .popover {
            width: 276px;
            z-index: 1000;

            .btn {
                margin: 8px 0 4px 0;
            }
        }

        .alert-wrapper {
            width: 100%;
            
            #modalAlert {
                width: 94%;
                margin: 2px 3% 0;
            }
        }
    }
}
