.modal {
    .modal-body {
        min-height: 230px;

        .players-typeahead {
            padding-right: 22px;
            width: 330px;
        }

        .icon-plus {
            margin: -3px 0 0 -20px;
        }

        .popover {
            width: 276px;
            z-index: 1000;

            .btn {
                margin: 8px 0 4px 0;
            }
        }

        .alert-wrapper {
            width: 100%;
            
            #modalAlert {
                width: 94%;
                margin: 2px 3% 0;
            }
        }
    }
}
